.card {
  max-width: 100%;
  width: 400px;
  background-color: var(--card-color);
  border-radius: 1em;
  padding: 1.5em 1.2em 1.2em;
  backdrop-filter: blur(10px);
  border: 1px solid var(--card-color);
}

.card-prestasi {
  max-width: 100%;
  width: 700px;
  background-color: var(--card-color);
  border-radius: 1em;
  padding: 1.5em 1.2em 1.2em;
  backdrop-filter: blur(10px);
  border: 1px solid var(--card-color);
}

.card-header {
  margin-bottom: 1em;
}

.card-body {
  padding-top: 0;
}

.form-group:not(:last-child) {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

/* kalo tidak required maka tambahkan text 'Opsional' di akhir */
.form-group:not(:has(:where(input, select):required)) > label::after {
  content: " (Opsional)";
  color: var(--font-muted);
  font-size: 0.8em;
  vertical-align: super;
}

.form-group :where(input, select, textarea, button) {
  display: block;
  width: 100%;
  padding: 0.8em 1em;
  border: none;
  border-radius: 0.5em;
}

.form-group :where(input, select, textarea) {
  background-color: var(--card-color);
}

.form-group button {
  background-color: var(--accent);
}

.form-group .bg-secondary {
  background-color: transparent;
  border: 1px solid var(--accent);
}

.form-group button:hover {
  background-color: var(--card-color);
}

.form-check {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5em;
}

.form-check input[type="checkbox"] {
  width: auto;
}

.form-check label {
  margin: 0;
  flex: 1;
  cursor: pointer;
}
