body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:where(input, select, textarea, button) {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  outline: none;
}

:where(input, textarea)::placeholder,
select :where(optgroup, option) {
  color: inherit;
}

select :where(optgroup, option) {
  color: initial;
}

textarea {
  resize: none;
}
